html
    head
    body
        div#chats 입력한 정보
        div 
            form#form
                input#input(placeholder='정보를 입력해주세요')
                button#button 등록
        script(src='/public/client.js')